.error{
    color: red;
    font-weight: 900;
    margin:10px 30px;
}

.successMessage{
    color:green;
    font-weight: 900;
    margin:10px 30px;
}

textarea:focus, input:focus {
    color: #002aff;
    border:1px solid #002aff;
    
}

input, select, textarea{
    color: #000;
    margin: 10px;
    display: inline-block;
    clear: left;
    width: 250px;
   
}
button,label,div{
    margin:10px 30px;
    padding: 5px;
}
.loginHeading{
    color: #002aff;
    font-weight: 900;
    font-size:xx-large;
}
#login-wrap{
    color: #002aff;
    font-weight: 700;
    font-size:larger;
}